---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from "astro:content";
// 构建标签动态路由
export async function getStaticPaths() {
  const allPosts = await getCollection("posts"); // 获取所有md文章
  
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];  //获取所有标签并去重
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },  // 将标签作为参数传递给路由
      props: { posts: filteredPosts },  // 将过滤后的文章传递给组件
    };
  });
  
}

const { tag } = Astro.params;
const { posts  } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>包含「{tag}」标签的文章</p>
  <ul>
    { posts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} pubDate={post.data.pubDate}/>) }
  </ul>
</BaseLayout>